html{
    font-family: sans-serif;
        }
*
{
    margin: 0;
    padding: 0;
    color: white;
}
body
{
    background-color: black;
    overflow-x: hidden;
}
.logo {
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
    position: relative;
    z-index: 8;
}

.sign button{
    background-color: rgb(229, 9, 20);
    color: white;
    font-size: small;
    font-weight: 550;
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
}
nav
{
    display: flex;
    justify-content: space-between;
    padding-top: 5vh ;
background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
width: 80vw;
margin-left: 10vw;

    
}
header
{
    height: 100vh;
    width: 100vw;
    background-image: url(/Images/1\ \(1\).jpg);
    background-color: black;
    position: relative;
    z-index: 20;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}


 header .box
{
    background-color: rgba(0, 0, 0, 0.68);
    height: 100vh;
    width: 100%;
        position: relative;
    z-index: 20;

}
.main .center h1{
    text-align: center;

}
.main .center h3{
    text-align: center;
    padding: 3%;
    
}
.center
{
    height: 85vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center h1 span
{
    font-size: 50px;
    font-weight: bolder;
    
}
.main
{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.email
{
    display: flex;
    margin-top: 3%;
    gap: 10px;
}
.email button
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 213px;
    background-color: #E50914;
    border: none;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 7px;
}
.email input
{
    height: 52px;
    border-radius: 7px;
    width: 366px;
    background-color: rgba(0, 0, 0, 0.473);
    border: 1px solid #B9B9B9;

}
.email input::placeholder
{
    color: #B9B9B9;
    font-size: 15px;
    padding: auto;
    padding-left: 10px;
}
  .hero svg {
    position: absolute;
    bottom: -55px;
    z-index: 20;



    width: 100%;
    height: 100px;
  }
  .jugar
  {
    height: 5vh;
    width: 75vw;
    position: absolute;
    background-color: #0a0f3ce2;
    border-radius: 50%;
    margin-left: 15vw;
    z-index: 10;
    bottom: -10px; 
    box-shadow:  inset 12px 38px #0A0F3C;
    box-shadow:  0 12px 38px #0a0f3cb5;
    
  }
  .hero
  {
    position: relative;
    z-index: 20;

  }
  main .trend
  {
    margin: 10vh 10vw;
  }
  .trending-movies-images
  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .trending-movies-images img{
    border-radius: 10px;
  }
  .trending-movies-images button
  {
height: 150px;
    width: 25px;
    background-color: #1A1A1A;
    color: white;
    font-size: auto;
    font-weight: bold;
    border: none;
    border-radius: 10px;
  }
  .reasons .div
{
    height: 295px;
    width: 230px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 6px;

}
.div .kids
{
padding-top: 30px;
padding-left: 120px;
}
.div .scope
{
padding-top: 80px;
padding-left: 120px;
}
.div .download
{
padding-top: 20px;
padding-left: 120px;
}
.div .TV
{
padding-top: 60px;
padding-left: 120px;
}
.reasons
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.more-reason
{
    padding: 5vh 5vw;
    padding-top: 10vh;
    padding-left: 10vw;
}
.div h2,p{
    padding: 8px;
}
.div h2{
    padding-top: 25px;
}
.faqs div
{
    height: 14vh;
    width: 78vw;
    background-color: #2D2D2D;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}
.faqs
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    flex-direction: column;
}
.frequently h2
{
    padding: 3vh 5vw;
    padding-top: 10vh;
    padding-left: 10vw; 
}
.faqs p,span
{
    padding: 8vh 2vw;

}
.faqs p
{
    font-size: x-large;
    

}
.faqs span
{
    font-size: 50px;
    font-weight: 0;
}

.footer-input
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}

.email .footer-email
{
width: 40vw;
margin-top: 0;
}
.footer-input p
{
padding-top: 15vh;

}
.footer-email-box
{
    margin-top: 1%;
}
.upper-link
{
        padding-left:10vw ;
        margin-top: 10vh;
        margin-bottom: 8vh;


}
.lower-links-list
{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left:10vw ;

    
    
}
.upper-link a,.lower-links-list a{
    color: #B3B3B3;
}
.lower-links-list a
{
    padding: 5px;
}
.bottom-input,.bottom-label,.bottom-para
{

    padding-left: 10vw;

    margin-top: 5vh;
}
.bottom-input select
{
    background-color: #0F0F0F;
    color: white;
    height: 5vh;
    border: 1px solid gray;
    font-size: medium;
    padding: 4px;
    border-radius: 4px;
    margin-top: 10vh;

}
.bottom-label label,.bottom-para p
{
    color:#B3B3B3 ;
}
.bottom-para
{
    font-size: small;
        padding-left: 9vw;
        margin-bottom: 200px;

}
.bottom-para a{
    color: #448EF4;
}
.scrolling-movies
{
    display: flex;
    /* justify-content: center; */

    width: 70vw;
    overflow-x: scroll;
    gap: 30px;
}
.scrolling-movies::-webkit-scrollbar
{
    display: none;
}



/* Media Queries */

@media (max-width:768px) {
    .main .center p
    {
        text-align: center;
    }
    .main .center h1 span
    {
        font-size: 30px ;
    }
    .center
    {
        width: 80vw;
    }
    .email
    {
        flex-direction: column;
        align-items: center;
    }

.reasons
{
    flex-wrap: wrap;
}

  .jugar
  {
    height: 4vh;
  }
  .email .footer-email
  {
    width: 80vw;
  }
  .footer-input p
  {
    margin: 5px;
    text-align: center;
  }
  .lower-links-list
  {
    grid-template-columns: 1fr 1fr;
  }
    
}



@media (max-width:1162px) and (min-width:768px) {
        .main .center h1 span
    {
        font-size: 33px ;
    }
      .lower-links-list
  {
    grid-template-columns: 1fr 1fr 1fr;
  }
    


    
}




